body {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    width: 120px;
    height: 120px;
    border-radius: 20%;
    border: 3px solid black;
    margin: 10px;
}

.red {
    background-color: rgb(235, 21, 21);
}
.grey{
    background-color: rgb(191, 187, 187);
}
.yellow{
    background-color: rgb(232, 232, 20);
}
.purple{
    background-color: rgb(132, 24, 240);
}

.flash {
    background-color: white;
}

.userflash{
    background-color: greenyellow;
}


