<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Posts</title>
</head>

<body>
    <h1>Quora Posts</h1>
    <% for(let post of posts) { %>
        <div class="post">
            <h3 class="user"> @ <%= post.username %>
            </h3>
            <h3 class="content">Posted: <%= post.content %>
            </h3>
            <br>
            <a href="http://localhost:8080/posts/<%=post.id%>">See in detail</a>
        </div>
        <% } %>
            <br>
            <a href="http://localhost:8080/posts/new">Create new post</a>
</body>

</html>